// fonts
Regular = 'Raleway', Arial, Tahoma, Verdana, sans-serif

footerHeight = 100px

// colors
gray = #898989
textColor = #000
lightGray = gray
darkGray = #363636
placeholderColor = #ccc


// main text size
basefont = 13px
smallfont = 11px
bigfont = 16px

x-baseline = floor(basefont * 1.53)


// background colors
selectionColor = #333
