.b-header

  &_smal
    font-size: 12px

  &_meddium
    font-size: 16px

  &_big
    font-size: 19px

  &_border
    border-top: 3px solid #0D44A0

    &_gray
      // border-top: 3px solid gray

  &__item
    margin-left: 15px
    margin-bottom: 10px
