.b-link
  text-decoration: none
  color: #0d44a0

  &:hover
    color: red

  &_carrot
     color: #EE7B00

  &_big
    margin-left: 9px
    font-size: 16px

  &_example
    color: #669

  &__logo
    height: 30px
    width: 30px
    margin-left: 340px
    background: url(../../img/logo_sprite.png) no-repeat
    background-position: 0 0

    &:hover
      background-position: 0 -33px

  &_number
    color: #000



