.b-map

  &:hover &__tools
    display: inline-block


  &_position
    margin-left: 30px


  &__image
    width: 198px
    height: 57px

  &__tools
    display: none
    background: url(../../img/tools.svg)
    width: 15px
    height: 15px
    vertical-align: middle

  &__metro
    position: relative

  &__header
    margin-left: 10px
    margin-bottom: 3px

