.b-service

  &__map
    margin-left: 30px

  &__weather
    margin-left: 150px

  &__route
    margin-left: 150px

  &__tv
    margin-left: 85px
    margin-bottom: 20px

  &__media
    margin-top: 20px
    margin-bottom: 40px

  &__item
    margin-right: 10px

  &__valuta
    margin-left: 92px



