.b-service
  oveflow: hidden

  &__map
    margin-left: 30px

  &__header

    &_number
      height: 30px
      widht: 30px

  &__weather
    margin-left: 250px

  &__route
    margin-left: 250px

  &__metro
    background-image: url(../img/map.webp)
