.b-yandex
  margin-top: 20px

  &__link
    margin-bottom: 5px
    padding-bottom: 5px
    background-color: #fff

  &__img
    margin-top: 8px
    margin-right: 10px

  &__example
    height: 30px
    line-height: 30px

  &__brouser
    margin-left: 340px




