.content

  &__news
    width: 16%
    margin-left: 20px
    padding-left: 9px
    float: left
    background-color: #dbe1f1

  &__contact
    width: 27%
    margin-top: 25px
    float: right

  &__promo
    width: 50%
    padding-left: 25px
    vertical-align: top

