.footer

  &__desing
    margin-bottom: 20px
    margin-right: 90px

  &__about
     margin-left: 100px


  &__item
    vertical-align: middle
    margin-left: 6px

  &__copyrait
    margin-left: 5px
    vertical-align: middle



