.header-bar

  &__logo
    float: left

  &__start-page
    float: left

  &__nickname
    margin-left: 15px
    float: right

  &__tools
    float: right
    margin-top: 3px

  &__theme
    margin-right: 30px
    float: right
