.header

  &_header
    float: left

  &_smal
    font-size: 12px

  &_medium
    font-size: 16px

  &_big
    font-size: 19px

  &_border
    border-top: 3px solid #0D44A0

  &__item
    margin-left: 15px
    margin-bottom: 10px
