.icon

  &_big
    width: 50px
    height: 50px

  &_medium
    width: 33px
    height: 33px

  &_small
    width: 19px
    height: 19px

  &_metro
    background: url(../../img/metro.svg) 0 0 no-repeat

  &_panorams
    background: url(../../img/panorams.svg) 0 0 no-repeat

  &_routes
    background: url(../../img/routes.svg) 0 0 no-repeat

  &_train
    background: url(../../img/train.svg) 0 0 no-repeat

  &__map
    position: absolute
    background-color: #fff
    border: 3px solid #fff
    border-radius: 20px
    box-shadow: 0 2px  rgba(92,131,190,.16)

  &_logo-mini
    background: url(../../img/logo_sprite.png) no-repeat

  &_logo
    background: url(../../img/logo_mini.svg) 0 0 no-repeat

  &_market
    background: url(../../img/market.svg) 0 0 no-repeat

  &_avto
    background: url(../../img/avto.svg) 0 0 no-repeat

  &_job
    background: url(../../img/job.svg) 0 0 no-repeat

  &_house
    background: url(../../img/house.svg) 0 0 no-repeat

  &_contact
    background: url(../../img/contact.svg) 0 0 no-repeat

  &_help
    background: url(../../img/help.svg) 0 0 no-repeat

  &_logo-header
    background: url(../../img/logo.svg) 0 0 no-repeat

  &_avatar
    background: url(../../img/avatar.png) 0 0 no-repeat
    top: 10px

