.link
  text-decoration: none
  color: #0d44a0

  &:hover
    color: red

  &_carrot
     color: #EE7B00

  &_big
    font-size: 16px

  &_example
    color: #669

  &__logo
    margin-left: 340px
    background-position: 0 0

    &:hover
      background-position: 0 -33px

  &_number
    color: #000



