.nickname

  &__avatar
    // float: right
    margin-top: 3px
    margin-right: 5px
    border-radius: 50%
    // background: #fff center no-repeat
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2)
    vertical-align: middle

  &__name
    vertical-align: middle

  &__first-name
    color: red

  &_font
    font: 15px Arial, Helvetica, sans-serif

  &__nickname
    margin-left: 15px
    float: right
