.nickname

  &__avatar
    margin-top: 3px
    margin-right: 5px
    border-radius: 50%
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2)
    vertical-align: middle

  &__name
    vertical-align: middle

  &__first-name
    color: red

  &_font
    font: 15px Arial, Helvetica, sans-serif

  &__nickname
    margin-left: 15px
    float: right

  &__tools
    margin-top: 10px
    margin-right: 15px
    padding: 5px
    border: 1px solid transparent
    float: left
    opacity: .3

    &:hover
      border: 1px solid #000
      border-radius: 10%
