.widget
  margin-left: 45px

  &__item
    position: relative
    padding-bottom: 7px

  &__info
    margin-left: 3px

  &__icon
    position: absolute
    left: -30px
    top: -2px
    margin-left: 7px
